<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>class与style绑定</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <div v-if="type === 'A'">
            A
        </div>
        <div v-else-if="type === 'B'">
            B
        </div>
        <div v-else-if="type === 'C'">
            C
        </div>
        <div v-else>
            Not A/B/C
        </div>
        <h1 v-show="ok">Hello!</h1>
    </div>
    <div id="demo">
        <div v-if="score>=90">
            优秀
        </div>
        <div v-else-if="score>=80">
            良好
        </div>
        <div v-else-if="score>=60">
            及格
        </div>
        <div v-else>
            不及格
        </div>
        <h1>{{result}}</h1>
    </div>
    <script>
        var ap = new Vue({
            el: '#demo',
            data: {
                score: 80,

            },
            computed: {
                result() {
                    let showMessage = '';
                    if (this.score >= 90) {
                        showMessage = '优秀'
                    } else if (this.score >= 80) {
                        showMessage = '良好'
                    } else if (this.score >= 60) {
                        showMessage = '及格'
                    } else {
                        showMessage = '不及格'
                    }

                    return showMessage
                }

            }
        })
        var vm = new Vue({
            el: '#app',
            data: {
                type: 'B',
                ok: true


            }
        });
    </script>
    <style>

    </style>
</body>

</html>