<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../Vue学习/JS/vue.js"></script>
</head>

<body>


    <div id="app">
        <!-- <cpn v-show="isShow">

        </cpn>
        <cpn v-for="item in names"></cpn> -->
        <cpn></cpn>
        <cpn>
            <!-- 获取子组件中的pLanguages
            vue2。5.x -->
            <template slot-scope="slot">
                <!-- <span v-for="n in slot.data">{{n}}--</span> -->
                <span>{{slot.data.join(' - ')}}</span>
            </template>
        </cpn>
    </div>

    <template id="cpn">
    <div>
       <h2>我是子组件</h2>
       <p>我是内容，哈哈哈哈</p>
       <slot :data="pLanguages">
           <ul>
           <li v-for="n in pLanguages">{{n}}</li>
       </ul>
       </slot>
       
      
    </div>
</template>




    <script>
        const app = new Vue({
            el: '#app',
            data: {
                message: '这是vue实例的message',
                isShow: false

            },

            components: {
                cpn: {
                    template: '#cpn',
                    data() {
                        return {
                            name: '我是cpn组件的name',
                            isShow: true,
                            pLanguages: ['javascript', 'c++', 'C#', 'python', 'C']

                        }
                    }
                }
            }
        })
    </script>
</body>

</html>